/* Write your CSS here */
.list-item-container {
  background-color: #1e293b;
  padding: 10px;
  /* height: 300px; */
  font-family: 'Bree Serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #ffffff;

  width: 200px;
  text-align: center;
  height: 300px;
}
.competing-image {
  width: 70px;
}
.heading2 {
  font-size: 15px;
}
.red {
  color: red;
}
.green {
  color: green;
}
